body{

background-color:#EAF6F6;


}


hr{


border-color: gray;

border-style: none;

border-top-style: dotted;

border-width: 5px;

width: 20%;

}

h1:hover{

background-color: orange;

}

h2:hover{

    background-color: orange;
    
    }

    h3:hover{

        background-color: orange;
        
        }
    


h1{

color: #66BFBF;

font-size: 35px;

}

h2{


    color: #66BFBF;
}

h3{

    color:white;
}

p:hover{

    background-color: orange;
}

a:hover{

background-color: orange;

}

th:hover{

    background-color: orange;
    
    }

    td:hover{

        background-color: orange;
        
        }

        label:hover{

            background-color: orange;
            
            }

            li:hover{

                background-color: orange;
                
                }

/* 
img{

    background-color: orange;
} */